.element__item {
  position: relative;
  background-color: #FFFFFF;
  max-width: 282px;
  margin: 0;
  border-radius: 10px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 62px;
  grid-template-rows: 1fr 41px 38px;
  grid-template-areas:
    "photo photo"
    "title like"
    "title likeNumber";
  align-items: center;
  justify-items: flex-start;
}
